<div class = "jumbotron">
<h1> Word Counter </h1>
</div>
<form action = "/result">
  <div class = "form-group">
    <label for = "phrase"> Enter a phrase </label>
    <input id = "phrase" name = "phrase" class = "form-control">
  </div>
  <div class = "form-group">
    <label for = "word"> Enter the word you would like to count in the phrase!</label>
    <input id = "word" name = "word" class = "form-control">
  </div>
  <button type = "submit" class = "btn-default">count my word!</button>
  <div class = "image">
    <img src='/img/math.jpeg' alt='A photo of math.'/>
  </div>
</form>
